* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  grid-template-columns: auto auto auto;
  background-color: #ffc9ba;
  height: 672px;
  display: grid;
  padding: 10px;
}
.grid-item {
  margin-top: 26px;
  margin-left: 165px;
}
.grid-item2 {
  margin-top: 24px;
  margin-left: 300px;
}

.grid-item3 img {
  padding: 28px;

  height: 80px;
}
.grid-item4 {
  margin-left: 165px;
  width: 500px;
}
.grid-item4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.grid-item4 p {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.grid-item4 button {
  background: none;
  border: none;
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
}
.grid-item5 {
  width: 760px;
  height: 312px;
}
.grid-item5 img {
  margin-left: 24px;
  margin-top: 50px;
  width: 600px;
  height: 280px;
}
