* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 672px;
  background: #ffc9ba;
}
.nav {
  display: flex;
}

.nav .logo {
  margin-top: 30px;
  margin-left: 165px;
}
.nav .icons {
  margin-left: 860px;
  margin-top: 30px;
}
.icons .img {
  margin-right: 85px;
}
.menu {
  margin-left: 165px;
  margin-top: 103px;

  display: flex;
}
.menu h1 {
  font-family: Montserrat;
}
.menu p {
  font-family: Open Sans;
  margin-top: 16px;
}
.menu button {
  border: none;
  background: none;
  font-family: Montserrat;
  margin-top: 32px;
}
.menu2 {
  margin-left: 150px;
  margin-top: 50px;
}
/*sponsor kısmı*/
.sponsor {
  height: 191px;
  display: flex;
}
.sponsor p {
  height: 15px;
}
.sponsor img {
  height: 27px;
  width: 100px;
  margin: 0 auto;
  margin-left: 95px;
  margin-top: 108px;
}
.gallery {
  display: flex;
  margin-top: 64px;
}
.large {
  background-color: #e6f0ff;
  margin-left: 265px;
  margin-top: 24px;
  margin-right: 24px;
  height: 650px;
  font-family: Montserrat;
}
.large img {
  height: 534px;
}
.small {
  background: #fafafb;
  margin-top: 21px;
}
.small img {
  height: 534px;
}
.large p {
  font-family: Montserrat;
  margin-left: 40px;
  margin-top: 40px;
}
.small p {
  font-family: Montserrat;
  margin-left: 40px;
  margin-top: 40px;
}
.gallery2 {
  width: 100%;
  background-color: #fff;
}
.baslik {
  width: 1110px;
  height: 540px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 128px;
  font-weight: lighter;
}
.baslik hr {
  color: #eaeaea;
  margin-top: 16px;
  margin-bottom: 24px;
}
.products {
  display: flex;
}
.products img {
  margin-right: 80px;
}
.detail p {
  color: #807e7e;
  font-family: Open Sans;
  margin-top: 12px;
  margin-bottom: 4px;
}
.detail h3 {
  color: #212121;
  font-family: Open Sans;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 15px;
}
.gallery3 {
  width: 100%;
  background-color: #fff;
  display: flex;
}
.one-cikan {
  width: 1110px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
.yazi {
  background-color: #fafafb;
  width: 700px;
}
.yazi h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 127px;
  margin-left: 97px;
}
.yazi p {
  font-family: Open Sans;
  margin-left: 97px;
  margin-top: 16px;
}
.yazi button {
  border: none;
  background: none;
  font-family: Montserrat;
  margin-top: 32px;
  margin-left: 97px;
}
.gorsel img {
  width: 620px;
}
.gorsel {
  background-color: #e6f0ff;
}
